<div class="padding-header-members">
    <img class="logo" src="images/x_small_logo_horiz.png" height="42" width="210" />
</div>
<div class ="menu">
    <a class="menu-btn" href="#memberresults/0">
        <span class="menu-btn-inner">
            Member Name
        </span>
    </a>
    <a class="menu-btn" href="#memberresults/1">
        <span class="menu-btn-inner">
            Department
        </span>
    </a>
    <a class="menu-btn" href="#memberresults/2">
        <span class="menu-btn-inner">
            Division
        </span>
    </a>
    <a class="menu-btn" href="#memberresults/3">
        <span class="menu-btn-inner">
            School
        </span>
    </a>
    <a class="menu-btn" href="#memberresults/4">
        <span class="menu-btn-inner">
            Rank
        </span>
    </a>
    <a class="menu-btn" href="#memberresults/5">
        <span class="menu-btn-inner">
            Primary Program
        </span>
    </a>
    <a class="menu-btn" href="#memberresults/6">
        <span class="menu-btn-inner">
            Institution
        </span>
    </a>
</div>
