<div class="page-padding">
	<h3> <%= sharedResourceName %> </h3>
	<h3> Service </h3>
	<p> <%= services %> </p>   
    <h3> Contact Information </h3>
    <div class="info-section">
        <div class="menu-btn">
            <span class="menu-btn-no-arrow center-name"><a class="field" href="mailto:<%= contactPhone %>"><%= contactPhone %></a></span>
        </div>
        <div class="menu-btn">
            <span class="menu-btn-no-arrow center-name"><a class="field" href="mailto:<%= contactEmail %>"><%= contactEmail %></a></span>
        </div>
    </div>
</div>